@import "reset";
@import "variables";

.wrapper {
  background-color: $primary-color;
}

.hero-section {
  margin-inline: auto;
  max-width: 1300px;
  position: relative;
}

header {
  background-color: $primary-color;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  max-width: 1300px;
  margin-inline: auto;
  width: 100%;

  img {
    width: 200px;
  }

  nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      gap: 50px;

      a {
        color: $text-color-white;
        position: relative;
        font-size: 20px;
        transition: 0.3s ease;

        &.active::before {
          content: "";
          position: absolute;
          height: 2px;
          width: 100%;
          background-color: $text-color-white;
          bottom: -5px;
        }

        &::after {
          content: "";
          position: absolute;
          height: 2px;
          background-color: $text-color-white;
          bottom: -5px;
          left: 0;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}

.hero-container {
  padding-top: 100px;
  display: flex;

  .hero-slogan {
    // outline: 2px solid red;
    margin-top: 70px;
    padding-right: 70px;
    flex: 1;

    h1 {
      font-size: 65px;
      color: $text-color-white;
    }
    p {
      color: $text-color-white;
      margin: 50px auto;
    }

    .search {
      outline: 2px solid $text-color-white;
      width: max-content;
      border-radius: 50px;
      padding: 5px;
      input {
        font-size: 20px;
        padding: 10px 10px;
        background-color: transparent;
        color: $text-color-white;

        &::placeholder {
          color: $text-color-white;
        }
      }
      button {
        font-size: 20px;
        padding: 10px 30px;
        border-radius: 50px;
        background-color: $text-color-white;
        color: $text-color-black;
        cursor: pointer;
      }
    }
  }
  .hero-image {
    flex: 1;

    img {
      width: 700px;
    }
  }
}
